/afirmacxf/.project
/afirmacxf/.settings
/afirmacxf/.classpath
/api/.project
/api/.settings
/api/.classpath
/fake/.settings
/fake/.classpath
/fake/.project
/api/target
/afirmacxf/target
/fake/target
/afirmacxf/resultsXAdESORVE
/afirmacxf/resultsCAdES
/afirmacxf/resultsPDF
/afirmacxf/resultsXAdES
/integra/target
/validatetester/validatetester-ear/.project
/validatetester/validatetester-ear/.settings
/validatetester/validatetester-ejb/.settings
/validatetester/validatetester-ejb/target
/validatetester/validatetester-ejb/.classpath
/validatetester/validatetester-ejb/.project
/validatetester/validatetester-webapp/.settings
/validatetester/validatetester-webapp/.classpath
/validatetester/validatetester-webapp/.project
/validatetester/validatetester-ear/target
/validatetester/validatetester-webapp/target
/afirmacxf/config/plugin.properties
/integra/.classpath
/integra/.project
/integra/.settings/org.eclipse.core.resources.prefs
/integra/.settings/org.eclipse.jdt.core.prefs
/integra/.settings/org.eclipse.m2e.core.prefs
/validatetester/compil.bat
