# Excloure del repositori
# Fitxers i directoris del Maven
target/
dependency-reduced-pom.xml
# Fitxers de projecte de Eclipse
.classpath
.project
.settings/
# Fitxers de projecte de IntelliJ IDEA
*.iml
.idea/
# Fitxers de projecte de Netbeans
nb-configuration.xml
#
## Preexistents dins el projecte
# afirmacxf
/afirmacxf/resultsXAdESORVE
/afirmacxf/resultsCAdES
/afirmacxf/resultsPDF
/afirmacxf/resultsXAdES
/afirmacxf/config/plugin.properties
/afirmacxf/config/*.jks
# fake
/fake/bin
# esignature
/esignature/resources
/esignature/resultsPDF
/esignature/resultsXAdES
/esignature/resultsCAdES
/esignature/foto.jpg
/esignature/setpath.bat
/esignature/test.bat
/esignature/test.properties
/esignature/validations
/esignature/config/config.properties
# Validat
/validatesignaturetester/test.properties
/validatesignaturetester/plugin.properties
