
pluginsib.validatesignature=fake,afirmacxf

pluginsib.validatesignature.fake.class=org.fundaciobit.pluginsib.validatesignature.fake.FakeValidateSignaturePlugin
pluginsib.validatesignature.afirmacxf.class=org.fundaciobit.pluginsib.validatesignature.afirmacxf.AfirmaCxfValidateSignaturePlugin

pluginsib.validatesignature.afirmacxf.TransformersTemplatesPath=C:/ruta/transformersTemplates
pluginsib.validatesignature.afirmacxf.debug=false
pluginsib.validatesignature.afirmacxf.printxml=false
pluginsib.validatesignature.afirmacxf.applicationID=APPID
pluginsib.validatesignature.afirmacxf.endpoint=https://server/afirmaws/services/DSSAfirmaVerify
pluginsib.validatesignature.afirmacxf.authorization.username=USERNAME
pluginsib.validatesignature.afirmacxf.authorization.password=PASS

